@{
}

@*@foreach(var item in Model)
{*@
    <div class="foryou-card fixed-card mx-2 position-relative col">
        <a href="#" class="text-decoration-none text-black w-100">
            <div class="bundle position-relative overflow-hidden w-100 h-50">
                <span class="location-tag position-absolute text-white"><i class="fa-solid fa-location-dot me-2"></i>@Model.Featured.CityName</span>
                <span class="heart position-absolute text-white"><i class="fa-regular fa-heart"></i></span>
                <img src="@Model.Featured.ProductPhoto" class="card-img-top rounded w-100 h-100" alt="@Model.Featured.ProductName">
            </div>
            <div class="card-body px-0">
                <h4 class="card-text overflow-hidden">@Model.Featured.ProductName</h4>
                <div class="card-tag mb-2 d-flex">
                    @foreach(var t in Model.Featured.Tags)
                    {
                        <span title="@t" class="tag px-2 py-1 me-2 rounded">@t</span>
                    }
                </div>
                <div class="card-product-review mb-2 d-flex">
                    <span class="px-1 border-end border-secondary">
                        <i class="fa-solid fa-star"></i>4.8 (2217)
                    </span>
                    <span class="px-1">
                        484K+個已訂購
                    </span>
                </div>
                <div class="card-product-price d-flex">
                    <span class="text-decoration-line-through p-1 text-black">TWD @Model.Featured.OriginalPrice</span>
                    <span class="p-1 text-black">TWD<span class="fw-bolder">@Model.Featured.Price</span></span>
                </div>
            </div>
        </a>
    </div>
@*}*@